/* helpers */
.full-width {
  width: 100%;
}

img {
  float: left;
  clear: left;
  padding: 0.5em 1em 1em 0;
}

h2 {
  padding-top: 1.2em;
  clear: left;
}

hr {
  height: 1px !important;
  clear: left;
}

/* remove search icon */
.toc-menu:before {
  content: "";
}

/* increase nav link size */
.toc-menu .title {
  font-size: 1.1em;
}

/* parent title font */
.toc-menu .-level-1.-parent > .title {
  font-weight: normal;
  font-size: 1.3em;
}

/* prevent spinner from blocking nav */
.header-nav {
  position: fixed;
  left: auto;
  width: 100px;
}

/* hide nav toggle on small screens */
@media (max-width: 959px) {
  .menu-toggle {
    display: none;
  }
}
